<!DOCTYPE html>
<html>
<head>
    <title>Doctor Appointment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Doctor Appointment Reminder</h2>
    <input type="date" id="date"><br><br>
    <input type="time" id="time"><br><br>
    <button onclick="saveAppointment()">save Appointment</button>
    <button
    onclick="removeAppointment()">Remove</button>
    <br><br>
    <a href="/">Back to Home</a>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    </body>
    </html>